<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../../../../../../userfiles/files/CSS/Admin/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <title>Chỉnh Sửa Bài Viết</title>
  <th:block th:replace="admin/layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="admin/layout :: header"></th:block>
<div class="layout-page">
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Danh Sách Bài Viết /</span> Chỉnh Sửa Bài Viết</h4>
      <!-- Basic Bootstrap Table -->
      <div class="card mb-4">
        <h5 class="card-header">Chỉnh Sửa Người Dùng</h5>
        <div class="card-body">
          <form th:action="@{/admin/user/edit/{id}(id=${user.id})}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" th:value="${user.username}" readonly><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" th:value="${user.email}" readonly><br>

            <label for="name">Name:</label>
            <input type="text" id="name" name="name" th:value="${user.name}"><br>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" name="phoneNumber" th:value="${user.phoneNumber}"><br>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" th:value="${user.address}"><br>

            <label for="roleId">Role:</label>
            <select id="roleId" name="roleId">
              <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}"></option>
            </select><br>

            <input type="submit" value="Update">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="admin/layout :: footer"></th:block>
<th:block th:replace="admin/layout :: java-css"></th:block>
</body>
</html>