<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../../../../../../userfiles/files/CSS/Admin/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
  <title>Chỉnh Sửa Bài Viết</title>
  <th:block th:replace="admin/layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="admin/layout :: header"></th:block>
<div class="layout-page">
  <!-- Content wrapper -->
  <div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
      <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Danh Sách Bài Viết /</span> Chỉnh Sửa Bài Viết</h4>
      <!-- Basic Bootstrap Table -->
      <div class="card mb-4">
        <h5 class="card-header">Chỉnh Sửa Bài Viết</h5>
        <div class="card-body">
          <form th:action="@{'/admin/posts/edit/' + ${post.id}}" method="post" th:object="${post}">
            <div class="mb-3">
              <label for="postName" class="form-label">Tên Bài Viết</label>
              <input type="text" class="form-control" id="postName" placeholder="Module ứng dụng" aria-describedby="postNameHelp" th:field="*{name}" required>
            </div>
            <div class="mb-3">
              <label for="postDescription" class="form-label">Chi Tiết Bài Viết</label>
              <input type="text" class="form-control" id="postDescription" placeholder="Module tăng áp, module hạ áp,..." aria-describedby="postDescriptionHelp" th:field="*{description}" required>
            </div>
            <div class="mb-3">
              <label for="postImage" class="form-label">Ảnh đại diện</label>
              <div class="input-group">
                <input class="form-control" type="text" placeholder="http://localhost:8080/userfiles/images/Module/OIP%20(10).jpg" id="postImage" th:field="*{image}">
                <div class="input-group-append">
                  <input class="btn btn-outline-secondary" type="button" value="Tải ảnh" onclick="BrowseServer('postImage');">
                </div>
              </div>
            </div>
            <div class="mb-3">
              <div class="">
                <label class="form-label">Trạng Thái</label>
              </div>
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="is_activate" id="btnradio1" th:field="*{is_activate}" th:value="true" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio1">Bật</label>
                <input type="radio" class="btn-check" name="is_activate" id="btnradio2" th:field="*{is_activate}" th:value="false" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio2">Tắt</label>
              </div>
            </div>
            <div class="mb-3">
              <div class="">
                <label class="form-label">Hiển Thị Trên Trang Chủ</label>
              </div>
              <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="activate_home" id="btnradio3" th:field="*{activate_home}" th:value="true" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio3">Bật</label>
                <input type="radio" class="btn-check" name="activate_home" id="btnradio4" th:field="*{activate_home}" th:value="false" autocomplete="off">
                <label class="btn btn-outline-primary" for="btnradio4">Tắt</label>
              </div>
            </div>
            <div class="mb-3">
              <label for="txtDetail" class="form-label">Chi Tiết Bài Viết</label>
              <textarea class="form-control" id="txtDetail" name="detail" th:field="*{detail}"></textarea>
            </div>
            <button type="submit" class="btn rounded-pill btn-success">Lưu</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<th:block th:replace="admin/layout :: footer"></th:block>
<th:block th:replace="admin/layout :: java-css"></th:block>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>
<script>
    CKEDITOR.replace('txtDetail');
    function BrowseServer(field) {
      CKFinder.popup({
        chooseFiles: true,
        width: 800,
        height: 600,
        onInit: function(finder) {
          finder.on('files:choose', function(evt) {
            var file = evt.data.files.first();
            var url = file.getUrl();
            document.getElementById(field).value = url;
          });
        }
      });
    }
  </script>
</body>
</html>
