<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Title  -->
    <title>Linh Kiện 24/7</title>
    <th:block th:replace="user/layout :: link-css"></th:block>
    <script src="/ckfinder/static/ckfinder.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <style>
    .container {
        justify-content: center;
    }

    .form-input {
        width: 300px;
        padding: 5px;
        margin-bottom: 10px;
    }

    .btn-update {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
    }
</style>
</style>
</head>
<body>
<th:block th:replace="user/layout :: header"></th:block>
<div class="checkout_area section-padding-80">
    <div class="container">
        <h1>Thông tin tài khoản</h1>
        <form th:action="@{/account/update}" method="post" th:object="${user}" id="account-form">
            <label>Tên tài khoản:</label>
            <input type="text" th:field="*{username}" class="form-input" /><br>

            <label>Email:</label>
            <input type="text" th:field="*{email}" class="form-input" readonly/><br>

            <label>Địa chỉ:</label>
            <input type="text" th:field="*{address}" class="form-input" /><br>

            <label>Số điện thoại:</label>
            <input type="tel" th:field="*{phoneNumber}" class="form-input" /><br>

            <!-- Các thông tin khác của người dùng -->
            <input type="submit" value="Cập nhật" class="btn-update">
        </form>
    </div>
</div>
<th:block th:replace="user/layout :: footer"></th:block>
<th:block th:replace="user/layout :: java-css"></th:block>
</body>
</html>
