<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed" dir="ltr" data-theme="theme-default" data-assets-path="../../../../../../userfiles/files/CSS/Admin/assets/" data-template="vertical-menu-template-free" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <title>--- Trang Admin ---</title>
    <th:block th:replace="admin/layout :: link-css"></th:block>
  </head>
  <body>
  <th:block th:replace="admin/layout :: header"></th:block>
  <div class="container">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          Trang ADMIN Quản Lý Linh Kiện 24/7
        </a>
      </div>
    </nav>
  </div>
  <th:block th:replace="admin/layout :: footer"></th:block>
  <th:block th:replace="admin/layout :: java-css"></th:block>
  </body>
</html>
